:root {
  --clr-primary: hsl(5, 85%, 63%);
  --clr-secondary: hsl(236, 13%, 42%);
  --clr-neutral: hsl(36, 100%, 99%);
  --clr-dark: rgb(8, 4, 22);
  --clr-light-orange: hsl(35, 77%, 62%);
  --clr-light-gray: rgb(182, 182, 182);
  --fw: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-size: 15px;
}
body {
  margin-bottom: 50px;
  background-color: var(--clr-neutral);
}
img {
  display: block;
  max-width: 100%;
}
.nav-link:hover {
  color: var(--clr-primary);
}
.first-section img {
  height: 300px;
}
.first-section h1 {
  font-weight: 900;
  width: 250px;
  font-size: 2rem;
}

.navbar {
  background-color: var(--clr-neutral);
}
.btn1 {
  background: var(--clr-primary);
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--clr-primary);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 15px;
}
.btn1:hover {
  background-color: transparent;
  color: var(--clr-primary);
}
.first-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.second-section {
  margin-top: 50px;
  background: var(--clr-dark);
  color: #fff;
  display: flex;
  flex-direction: column;
}
.second-section h2 {
  font-size: 1.5rem;
  color: var(--clr-light-orange);
}
.second-section p,
hr {
  color: hsl(236, 13%, 42%);
}
.side-bar {
  margin-top: 20px;
  padding: 10px 0px;
}

.layout {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.layout h3 {
  color: var(--clr-light-gray);
  font-size: 1.5rem;
}
.layout p {
  color: var(--clr-light-gray);
}
.layout h5 {
  font-weight: 800;
}

.topics0 {
  display: flex;

  gap: 20px;
}
.topics-side {
  display: flex;
  flex-direction: column;
}
.topics1 {
  display: flex;

  gap: 20px;
}
.topics2 {
  display: flex;

  gap: 20px;
}
@media screen and (min-width: 500px) {
  .second-section,
  .write-up {
    max-width: 400px;
  }
  .second-section {
    margin-right: 120px;
  }
  .topics0,
  .topics1,
  .topics2 {
    max-width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .topics0 img {
    width: 180px;
  }
  .section-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .first-section {
    grid-column: span 2;
  }
  .second-section {
    margin-top: 100px;
    grid-column: span 1;
  }
}
@media screen and (min-width: 1400px) {
  .post-blog {
    display: flex;
    gap: 30px;
  }
  .first-section h1 {
    width: 300px;
    font-size: 2.5rem;
  }
  .layout {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
  }
  .topics1,
  .topics2 {
    margin-right: 30px;
  }
}
